<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Regsiter New User</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="registerData.email" matInput placeholder="email" type="email" name="email">
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="registerData.password" matInput placeholder="password" type="password" name="password">
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="post()">Register</button>
        </form>
    </mat-card-content>
</mat-card>